<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>app_name</key>
		<string>facebook</string>
		<key>url_scheme</key>
		<string>fb</string>
	</dict>
	<dict>
		<key>app_name</key>
		<string>Twitter</string>
		<key>url_scheme</key>
		<string>twitter</string>
	</dict>
	<dict>
		<key>app_name</key>
		<string>LINE</string>
		<key>url_scheme</key>
		<string>line</string>
	</dict>
	<dict>
		<key>app_name</key>
		<string>USTREAM</string>
		<key>url_scheme</key>
		<string>ustream</string>
	</dict>
    <dict>
		<key>app_name</key>
		<string>YAMADAモバイル</string>
		<key>url_scheme</key>
		<string>ymd</string>
	</dict>
    <dict>
		<key>app_name</key>
		<string>産経新聞</string>
		<key>url_scheme</key>
		<string>sankeishimbun</string>
	</dict>
    <dict>
		<key>app_name</key>
		<string>ニコニコ動画</string>
		<key>url_scheme</key>
		<string>nicovideo</string>
	</dict>
    <dict>
		<key>app_name</key>
		<string>ヤフオク</string>
		<key>url_scheme</key>
		<string>yjauctions</string>
	</dict>
    <dict>
		<key>app_name</key>
		<string>Photos</string>
		<key>url_scheme</key>
		<string>photos-redirect</string>
	</dict>
</array>
</plist>